<!-- ヘッダー情報にはheader要素を使用 -->


<ol style="list-style-type: upper-roman">
<li><a href="#hello">概要</a></li>
<li><a href="#hello">AA削除時のテキストの挙動</a></li>
<li>テキスト削除時のテキストの挙動</li>
<li>てすと</li>
</ol> 
<!-- 記事情報にはarticle要素を使用 -->
  <article id = "1">
    <header>
      <h2>概要</h2>
    </header>
<!-- 階層構造を明確にしたい箇所にはsection要素を使用 -->
    <section>
      <p>このViewerはテキストエディタをメインとしたAAスレ制作をメインとする。</p>
   </section>
  </article>
  
  <article id ="hello">
    <header>
      <h2>h2の内容</h2>
      <time datetime="2011-08-20">2011年8月20日</time>
    </header>
<!-- 階層構造を明確にしたい箇所にはsection要素を使用 -->
    <section>
      <h4>h4の内容</h4>
      <p>文章ほげほげ。</p>
   </section>
  </article>