
@helper DisplayNode(SuouBase.Files.FileNode node)
    {
    if(@node.IsFile){
        <li type="circle">
        <a href ="@node.HashCode$" onclick="window.external.c_sharp_func('@node.HashCode');return false" oncontextmenu="window.external.rightclick_func('@node.HashCode');return false;">@node.Name</a>
        </li>
            }else{
        <li type="square">
        <a href="javaScript:treeMenu('@node.HashCode')" oncontextmenu="window.external.rightclick_func('@node.HashCode');return false;">@node.Name</a>
        </li>
        <div id="@node.HashCode" style="display:none">
        <ul>
            @foreach (SuouBase.Files.FileNode subnode in @node.Nodes) { @DisplayNode(subnode); }
        </ul>
        </div>

        }
    }
@helper DisplayNodes(SuouBase.Files.FileNode[] groupnode){
    foreach (SuouBase.Files.FileNode node in @groupnode)
    {
      <td>
      @DisplayNode(node)
      </td>
    }
    }

<html>
<head>
<title> View</title>
<style type ="text/css">
 a:link {text-decoration:none;}
 a:visited {text-decoration:none;}
 a:active {text-decoration:none;}
 a:hover {text-decoration:none;}
</style>

<script language="JavaScript" type="text/javascript">
 <!--
    // ツリーメニュー
    flag = false;
    function treeMenu(tName) {
        tMenu = document.all[tName].style;
        if (tMenu.display == 'none') tMenu.display = "block";
        else tMenu.display = "none";
    }
 //-->
</script>

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS"/>
</head>
<body bgcolor="#ffffff">


<table border="1">
@foreach (SuouBase.Files.FileNode[] groupnode in Model.GroupNodes)
{
 <tr valign="top">
    @DisplayNodes(groupnode)
 </tr>
 }

  
</table>
</body>
</html>

